@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: "Open Sans";
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

header {
  padding: 1em;
  overflow: hidden;
  background-color: #fff;
}

a,
a:visited {
  font-weight: 700;
  color: #4A90E2;
  text-decoration: none;
}

h1 {
  float: left;
  margin: 0;
  font-size: 1em;
}

h2 {
  color: #fff;
  margin-bottom: 0;
}

.col {
  padding: 0 10px;
}

#input, textarea {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: .5em;
  overflow: auto;
  border: none;
  background-color: #fff;
  font-family: courier, monospace;
  font-size: inherit;
  color: inherit;
}

#input {
  margin: 0;
  height: 600px;
}

.toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e6e6e6;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .col {
    float: left;
    width: 50%;
    padding: 0 15px;
  }

  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
}


/* AD */

header a.menu-item {
  margin-left: 20px;
}

#motto {
  clear: both;
  font-size: 1.2em;
  color: #666;
  margin-left: 30px;
}

footer {
  background: black;
  padding: 40px 80px ;
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: white;
  /* position:fixed; */
  /* bottom:50px; */
}

footer p{
  max-width: 800px;
  margin: 0 auto;
}

img.avatar {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  width:72px;
  height:72px;
  margin: 0 0 10px 0;
}

img#logo {
  width: 90%;
  max-width: 400px;
}

@media (max-width: 640px) {
  img#logo {
    padding: 20px 5%;
    width: 90%;
    max-width: 400px;
  }
}

textarea#output {
  background: #f5f5f5;
}

#output-header-textile:after, #output-header-jira:after {
  font-size: 50%;
  vertical-align: super;
  content: "Beta";
  color: red;
}

#output-header a.active {
  color: #ffc;
}

/* Redactor hacks */
#output-container .redactor_toolbar {
  font-size: inherit !important;
}

#output-container .redactor_toolbar li {
  /* padding-top: 10px !important; */
  line-height: 1.8em;
}

#output-container .redactor_toolbar li label {
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}

#output-container .redactor_toolbar li label input {
  margin-right: 5px;
}

#output-container.redactor_box textarea {
  padding: 14px;
}

#output-container .output-toolbar {
  display: none;
}

#output-container .output-toolbar.active {
  display: block;
}

.social{
  font-size: 2em;
  padding: 1em 0 0;
}
.social ul{
  margin: 0;
  padding: 0;
}
.social li{
  display: inline-block;
  padding: 0 0.2em;
}

.social a{
  -o-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -khtml-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

a:hover{
  color: white;
}
